@charset "UTF-8";
/* CSS Document */

/* ---------------------------------------------------------------- elements */
/* ========================================================================== */	

ol, ul {
	list-style:none;
	}

body {
	font-size: 100.01%; /* prevent extreme font resizing in IE */
	text-align:left;
	background-color:#f6f6f6;
	margin-left:21px; 
	font-family:"Inconsolata", "PT mono", monospace; font-weight:normal; font-style:normal;
	}

/* ---------------------------------------------------------------- main typographic elements */


.informational_text li {
	font-size:0.8em;
	line-height:1.25em;
	font-family:"Inconsolata", "PT mono", monospace; font-weight:400; font-style:normal;
	}
   

h2 {
	font-size:1em;
	color:#000;
	margin:9px 0 6px 0;
	font-family:"Inconsolata", "PT mono", monospace; font-weight: 700; font-style:normal;
	color:#0000ff;
    }

h3 {
	font-size:0.7em;
	color:#000;
	font-family:"Inconsolata", "PT mono", monospace; font-weight:normal; font-style:normal;
	padding:0 0 20px 0;
    }


/*------------CONTAINER-------------*/

#container {
	width:1024px;
	margin-right:auto;
	margin-left:auto;
	overflow:auto;
	}
			
/*---------------HEADER-------------*/
			
#header {
	width:960px;
	height:94px;
	position:fixed;
	top:15px;
	margin:0 0 0 32px;
	}
		
#logo {
	float:left;
	width:82px;
	height:94px;
	background:transparent url(../../images/logo.png) no-repeat;
	text-indent:-99999px;
	}
		
/*------------NAVIGATION-------------*/

.navtext {
	font-size: .9em;
	text-decoration:none;
	color:#000;
    }

.navtext:hover {
	text-decoration:underline;
 	color:#0000ff;
   	}
		
#navigation {
	z-index:auto;
	float:right;
	margin: 10px 37px 0 0;
    }
		
.navlist li {
	display:inline;
	padding:0 0 0 10px;
	}
		
			
/*----------CONTENT------------*/
/*-----IMAGES IN HOME PAGE-----*/
			
#content {
	width:900px;
	margin:170px 32px 52px 105px;
	overflow:auto;
	}	

#content li {
	padding:0 0 21px 0;
	}
	
.col_element{
	width: 256px;
	}

/*-----HOME PAGE ROLLOVER IMAGES-----*/

/* This is the div class that crops the image.
Also used by the hover_area div's. Needs to be as big as image was. */

.small_pic {
	position:relative;
	width:256px;
	height:182px;
	overflow:hidden;
	}

.large_pic {
	position:relative;
	width:256px;
	height:389px;
	overflow:hidden;
	}

.bw_image{
	position: absolute;
	left: 0px;
	top: 0px;
	}	

.colour_image{
	opacity: 0;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	}	
			
/*------------LEFT COLUMN HOME--------*/
			
#leftcol {
	float:left;
	width:256px;
	margin:0 21px 0 auto;
	}
		
/*----------MIDDLE COLUMN HOME--------*/
			
#midcol {
	float:left;
	width:256px;
	padding:0 21px 0 0;
	}
		
/*---------RIGHT COLUMN HOME----------*/
			
#rightcol {
	float:left;
	width:256px;
	}	
						
/*----------PROJECT PAGE CONTENT------*/	
/*----------FIRST IMAGE IN PROJ PAGE--*/

.image1 {
	padding:0 32px 0 auto;
	}

/*----------INFORMATION---------------*/	

.title {
	width:256px;
	float:left;
	padding:0 0 0 auto;
	}
	  
.subtitle {
	width:256px;
	padding:0 0 15px 0;
	}

.informational_text li {
	display:inline;
	font-size:0.72em;

	}

/*--------INFORMATION PARAGRAPH ONE---*/	

.information {
	float: left;
	width:256px;
	padding: 0 0 0 auto;
	margin: 0 21px 0 0;
	}

/*--------INFORMATION PARAGRAPH TWO---*/	

.information2 {
	width:537px;
	float: left;
	margin: 0 0 0 0;
	}
	
/*----IMAGES THAT COME AFTER INFO IN PROJ PAGE----*/	
	
.otherimages {
	padding: 0 0 0 auto;
	float:left;
	overflow:auto;
	display:inline;
	}
			 
.otherimages li{
	padding:0 20px 21px 0;
	}
	
.lefty {
	position:absolute;
	float:left;
	}	
	
.righty {
	position:relative;
	float:right;
	}
		

/*--------------FOOTER-------------*/

#footer {
	width:960px;
	height:40px;
	margin:0 32px 70px 32px;
	}	
			
.linktotop li {
	padding:0 0 0 68px;
	float:left;
	}
			   
.footerlist li {
	padding:17px 113px 0 68px;
	float:left;
	display:inline;
    }
	
/*------ Alight footer navigation (Excluding back to top button) 
		 to bottom of footer using margins. 
		 Couldn't use extra padding for some reason -------*/
					  
.alignbottom {
	margin:10px 0 0 0;
	}
			   
/*------Back to all projects button
		At the bottom of the page in the template
		Gave it's own class to change the colour and
		decoration on mouse hover. -------*/
			   
.backtoproj {
	font-size:.8em;
	text-decoration:none;
	color:#0000ff;
	}
		
.backtoproj:hover {
	text-decoration:line-through;
 	color:#000;
   	}
		

/*------- Johns css ---------*/


/* This is the image class */
.funky_pic{
	width:300px;
	}

/* This is text that follows the image up the page */
.non_funky_text{
	color:red;
	font-family: "Comic Sans MS", cursive, sans-serif;
	}

/* This is the text that copies paprika.com */ 
.funky_text{
	position:absolute;
	z-index:-1;
	left:0px;
	top:0px;
	color:red;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		